<div class="main">
<div id="main_one">
  <h4>Main</h4>
<ul>
<li><a href="/">Home</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/contact">Contact Us</a></li>
    <li><a href="/minister">Ministers</a></li>
</ul>
</div>



<div id="main_three">
  <h4>Services</h4>
  <ul>
  <li>Thursdays (A cry for Help)</li>
  <li>Sundays (Sunday service 9AM-12PM Noon)</li>
  <li>Every Last Sunday:Prophetic Service</li>
  <li>Every Last Friday:Night Vigil</li>
  </ul>
</div>

<div id="main_four">
  <h4>Follow Us</h4>
  <ul>
  <li><img src="./images/insta.png" /></li>
  <li><img src="./images/facebook.png" /></li>
  <li><img src="./images/youtube.png" /></li>
  <li>
  </li>
  </ul>
</div>

<div id="main_five">
  <h4>Contacts</h4>
  <ul>
  <li>08166317886</li>
  <li>dhammycool@gmail.com</li>
  <li>305, The Boulevard</li>
  </ul>
</div>
</div>



<div class="footer">
<p>Copyright © dhammycool 2024. All right reserved.</p>
</div>


