<div class="header">
  <img src="./images/logo_img.jpg" />
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/contact">Contact Us</a></li>
    <li><a href="/minister">Ministers</a></li>
     <li><a href="/blogs">Blogs</a></li>
    <li><a href="/register">Register Here</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/dash">Dashboards</a></li>
  </ul>

</div>