

<div class="mini_hero">

  <h1>About Us</h1>
  <p>Christ LoveCity is a ministry which is based on the love of God to the humanity and it is a Global Ministry with our Mission " Connecting the world to Jesus Christ".</p>

</div>

<div class="second_row">
    <img src=../images/christ.jpg alt="toba">

  <h1>Christ Love City</h1>

  <p>
    Christ love city is a Ministry under the leadership of prophet Odetunde Philip (Timitoba Clc) The Ministry started as fellowship in Ilorin Kwara state Nigeria in the year 2017 and started fully as a church in 2022 in the City of Ibadan Nigeria.
</p>
<p>
The Ministry has touched thousands of souls through evangelism both Online and offline preaching the word of Faith and the love of Christ to the broken Hearted.
</p>
<p>
The Ministry has raised alot of Ministers, and have enjoyed fellowship with other Anointed ministers of God Across the world Ranging from Australia, USA, Canada, Ghana and other countries.
</p>

<p>
  He is a prophet, Music Minister and a Global Evangelist. He hails from Osun state Modakeke to be precise, He is Happily married to pastor Mrs Odetunde wemimo Abiola with kids.

</p>

</div>

<div class="cloud">
  <div  class="cloud_one">
    <img src="../images/love.png" />
    <p class="cloud_text">
    Go into all the world & PREACH THE GOSPEL to all Creation.
    </p>

    <p>
      Mark 16:15
    </p>
  </div>

  <div  class="cloud_two">

  <img src="../images/giving.jpg" />
    <p class="cloud_text" >
    And do not forget to do good and to share with others, for with such sacrifices GOD IS PLEASED.
    </p>
    <p>
      Hebrews 13:16
    </p>
  </div>

  <div   class="cloud_three">
      <img src="../images/prayer.jpg" />
    <p class="cloud_text">
      Therefore i tell you, whatever you ask in PRAYER, BELIEVE that yo have RECIEVED it, and it will be yours.
    </p>
    <p>
      Mark 11:24
    </p>
  </div>

</div>


<div class="first_row_one">
  <img src=../images/philip.jpg alt="toba">
  <h1>Odetunde Oloruntoba</h1>

  <p id="bio">
  Biography Of Prophet Odetunde Philip (Timitoba clc) of Christ Love City Biography Of prophet Odetunde Philip (Timitoba clc) Prophet Odetunde Philip (Timitoba clc)is the senior pastor of Christ Love City which is located in ibadan Nigeria.
</p>
<p>
  Early Background Odetunde Philip (Timitoba clc) was born in April 12,1987 in Kwara state Ilorin to be precise Nigeria. Encounter with Jesus Odetunde Philip was raised up in Foursquare Gospel church; but when he enrolled in the University of Minna, he was actively involved with Fellowship of Christian students (FCS) where he became famous in the fellowship because of his Music gift, He later went fully into music becoming one of the fast rising Gospel music Ministers in Nigeria, He started doing music with Church ministry because of the ministerial assignment. He had several singles released with other artistes like Infinity Olorioko, beejaysax, Bola discovery, TosinBee, PST moji Alawiye and other Top Gospel music Ministers in Nigeria.
</p>
<p>
Odetunde Philip was trained as an Agricultural and bio Resources engineer in Federal University of Technology Minna Nigeria before he was called into ministry with his wife who is an estate surveyor with a mandate to Cover the Nakedness of the people .   He is a prophet, Music Minister and a Global Evangelist. He hails from Osun state Modakeke to be precise, He is Happily married to pastor Mrs Odetunde wemimo Abiola with kids.
</p>

</div>




