

<div class="mini_hero">

  <h1>Contact Us</h1>
  <p> Kindly fill out the form below  and you could reach out on the contact info below.</p>
</div>


<div class="great">

  <h1>Contact Us</h1>
  <p>
  which you can object to by managing your options below. Look for a link at the bottom of this page or in our privacy policy where you can withdraw consent.
  </p>

<div class="grand_parent">

  <div id="whats">
   <img src="../images/whatsapp.png" alt="mail" />
   <h1>Whatsapp:</h1>
   <p>
     08103355204
   </p>
  </div>


  <div id="mobile">
    <img src="../images/call.png" alt="mail" />
    <h1>Telephone:</h1>
    <p>
      08065929190
    </p>
  </div>

  <div id="email">
    <img src="../images/mail.png" alt="mail" />
    <h1>Email:</h1>
    <p>
      dhammycool@gmail.com
    </p>
  </div>

</div>
</div>

