


<div class="hero">
  <h1>Welcome you to Christ Love City</h1>
  <p>The true heart of worship</p>
</div>

<div class="message">
  <div class="inner" >
    <h1>This is Christ Love City</h1>
    <p>
      Some vendors may process your personal data on the basis of legitimate interest, which you can object to by managing your options below. Look for a link at the bottom of this page or in our privacy policy where you can withdraw consent.
    </p>
  </div>

</div>


<div class="mission_session">
<div class="section_one" id="one">
<h3>Our Vision</h3>
<p>
  Covering the Nakedness of the needy through love, prayer, kindness and word of Faith.
</p>
</div >

<div class="section_one" id="two">

</div>

<div class="section_one" id="three">

</div>

<div class="section_one" id="four">
<h3>Our Mission</h3>
<p>
    Connecting the world the JESUS.
</p>
</div>

</div>
</div>


<div class="who_we_are">
  <h3>Our Interest</h3>

<div class="todo">

  <div class="Donation">
    <img src="./images/kid.jpg" />
    <h5>Kiddies</h5>
    <p>
     join our Global kiddies club where you can hear the word of God by various means ranging from paintings,cartoons, letterings. We believe in raising kids for the next Generation,we believe that children are the heritage of God. Love city kids are amazing, smart and intelligent. Our Teachers are loving and caring. You can be a partner today by gifting our kids today send us your donations/ prayers Today. God loves a cheerful giver, you can be a part of an ENT time Army be supporting us to raise Godly kids.
    </p>

  </div>

  <div class="Love">
    <img src="./images/music.jpg" />

      <h5>Music</h5>
      <p>
        Love city music is a platform for all Gospel music Ministers across the world,we have a record label ( Love city music) Where we support and promote Gospel music through our love city TV. We can help you distribute your songs and help you place music videos on several TV stations. Send us your Gospel music today and be sure we will promote it. We believe in Taking the name of Jesus across the world without any Restrictions.
      </p>

   </div>

  <div class="chat">
   <img src="./images/chat.jpg" />

    <h5>Live Chat</h5>
    <p>
    Hey buddies, you are welcome to our live chat This is a place where you can make new friends from any part of the world, We have Godly Christian singles that are ready for friendship learning new skills and languages. You can learn new languages ranging from English, German, French and others. To Connect with new friends from any part of the world you can join our Chat room here.
    </p>
 </div>

 <div class="Music">
  <img src="./images/date.jpg" />

   <h5>Singles Connect</h5>
   <p>
    Our singles Connect is strictly for Christians singles looking for a live partner, be sure that you Can meet your live partner here, you need a proper registration to be a member of our love city singles connect. This section is for Christian singles and single parents looking for love again. To be a member of our singles connect 1. Send us a letter of recommendation from a pastor/ Clergy signed and stamped 2. A full picture of you(Singles) 3. A full picture of you and kids 4. Pay a registration fee as low as ($2/ 1000Naira/€2) 5. You automatically be added to our Channel where you can meet alot of Singles searching for a live partner. Click this link************ to register as a member of love city singles Connect.
   </p>
</div>

</div>
</div>

<div class="java">
  <h1>FAQS</h1>
  <div class="java_head" >
   <h1>Does CLC believe in Jesus Christ?</h1>
  </div>

  <div id="java_sub">
    <p>
      Some vendors may process your personal data on the basis of legitimate interest, which you can object to by managing your options below. Look for a link at the bottom of this page or in our privacy policy where you can withdraw consent.
    </p>
  </div>
  <div class="java_head_one">
   <h1>Understanding about Trinity?</h1>
  </div>

  <div id="java_sub_one">
    <p>
      Some vendors may process your personal data on the basis of legitimate interest, which you can object to by managing your options below. Look for a link at the bottom of this page or in our privacy policy where you can withdraw consent.
    </p>
  </div>
  <div class="java_head_two">
   <h1>Will Jesus return?</h1>
  </div>

  <div id="java_sub_two">
    <p>
      Some vendors may process your personal data on the basis of legitimate interest, which you can object to by managing your options below. Look for a link at the bottom of this page or in our privacy policy where you can withdraw consent.
    </p>
  </div>

</div>



