


<div id="log">
  <h1>User/Admin login</h1>
  <form action="/rout/login" method="post">
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Submit</button>
  </form>
</div>
