

<div class="mini_hero">
  <h1>Meet Our Ministers</h1>
  <p>Christ love city have foreign friends across the world for international online conference that connects with the vision of the Ministry always preaching the Gospel through the social media platforms.</p>

</div>


<div class="first_row_one">
  <img src=../images/philip.jpg alt="toba">
  <h1>Odetunde Oloruntoba</h1>

  <p id="bio">
  Biography Of Prophet Odetunde Philip (Timitoba clc) of Christ Love City Biography Of prophet Odetunde Philip (Timitoba clc) Prophet Odetunde Philip (Timitoba clc)is the senior pastor of Christ Love City which is located in ibadan Nigeria.
</p>
<p>
  Early Background Odetunde Philip (Timitoba clc) was born in April 12,1987 in Kwara state Ilorin to be precise Nigeria. Encounter with Jesus Odetunde Philip was raised up in Foursquare Gospel church; but when he enrolled in the University of Minna, he was actively involved with Fellowship of Christian students (FCS) where he became famous in the fellowship because of his Music gift, He later went fully into music becoming one of the fast rising Gospel music Ministers in Nigeria, He started doing music with Church ministry because of the ministerial assignment. He had several singles released with other artistes like Infinity Olorioko, beejaysax, Bola discovery, TosinBee, PST moji Alawiye and other Top Gospel music Ministers in Nigeria.
</p>
<p>
Odetunde Philip was trained as an Agricultural and bio Resources engineer in Federal University of Technology Minna Nigeria before he was called into ministry with his wife who is an estate surveyor with a mandate to Cover the Nakedness of the people .   He is a prophet, Music Minister and a Global Evangelist. He hails from Osun state Modakeke to be precise, He is Happily married to pastor Mrs Odetunde wemimo Abiola with kids.
</p>



</div>


<div class="container">
  <h1>Our Partners</h1>
<div class="photo">


  <div id="eva_text">
    <h3>Eva Tani</h3>
    <p>
      The founder of great Commision Australia, A partner of the ministry, A lover of God and a itenary of the Gospel.
    </p>

  </div>

  <div id="eva">

  </div>

  <div id="tani_text">
    <h3>Eva Tani</h3>
    <p>
      The founder of great Commision Australia, A partner of the ministry, A lover of God and a itenary of the Gospel.
    </p>
  </div>

  <div id="tani">

  </div>

  <div id="buky_text">
  <h3>Evg. Bukola Odetunde</h3>
  <p>
    Evang. Bukola Odetnde is a co Minister in the Ministry
  </p>
  </div>

  <div id="buky">


  </div>

  <div id="ore_text">
    <h3>Mrs Oreoluwa Sotomi</h3>
    <p>
      Project Coordinator .
    </p>
    <p>
      (Christ Love City USA)
    </p>


  </div>

  <div id="ore">


  </div>

</div>
</div>

